* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
} */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0px;
}
/* footer p {
  font-size: 16 px;
} */
/* article header p {
  font-style: italic;
} */
#author {
  font-style: itlaic;
  font-size: 18px;
}
#copywright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related-post-list {
  list-style: none;
}

/* body {
  background-color: blue;
} */

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/*this selector will select and apply the rules only if the first element inside an article is a para  
It wont just select the first para found inside article
*/
article p:first-child {
  color: red;
}
article p:last-child {
  color: red;
}
/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #777;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving context */
/* #copywright {
  color: red;
}
.copywright {
  color: blue;
}
.text {
  color: yellow;
}
footer p {
  color: green !important;
} */

nav a:link {
  display: inline-block;
  /* background-color: orangered; */
  margin: 10px 30px;
}
nav {
  text-align: center;
}

nav a:link:last-child {
  margin-right: 0;
}

h3 + p:hover::first-letter {
  background-color: cyan;
}
